
.container{
    display: flex;

}
.profile-pic{
    width : 200px;
    height : 200px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    margin-right: 5em;

}



.info{
    font-size: 12px;
}
span {
    margin: 0px 0px;
    padding: 2px 10px;
    background-color: royalblue;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
    position: relative;
    top: -11px;
    left: 100px;

    
}
.links-bar{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-radius: 20px;
    border-color: silver;
    z-index: -1;


}
.social{
    margin: 0;
    padding: 0;
    position: relative;
    left: 40px;

}
.link{
    display: flex;
    position: relative;
    align-items: center;
}